/*==============================GERAL====================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* dividir tamanho em px por 16 para obter rem */
:root {
  /*Cores*/
  --cor1: #7d82b8;
  --cor2: #d8e4ff;
  --cor3: #fef9ff;
  --fonte: "Poppins";
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--fonte);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}
/*==============================NAVEGAÇÃO=====================================*/
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor2);
  height: 4rem; 
  padding: 1.2rem;
}

.logo {
font-size: 1.5rem;
font-weight: bold;
color: var(--cor1);
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;

}

.menu a {
  display: block;
  padding: 1rem;
  color: var(--cor1);

}

.menu a:hover {
  font-weight: bold;
}

.button {
  background: none;
  color: var(--cor1);
  border: 1px solid var(--cor1);
  font-size: 1rem;
  border-radius: 4rem;
  padding: 0.6rem;
  text-transform: uppercase;
  width: fit-content;
  height: min-content;
}

.button:hover{
  cursor: pointer;
  font-weight: bold;
}

/* NAV SCROLL */
nav.scroll {
  background-color: var(--cor1);
  opacity: 0.95;
}

.scroll .logo{
  color: #fff;
}

.scroll a{
  color: #fff;
}

.scroll .button {
  color: #fff;
  border: 1px solid #fff;
}

.scroll .mobile-menu {
  color: #fff;
}

/*MENU MOBILE*/
.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  margin: 8px;
  background-color: #7d82b8;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .button {
    display: none;
  }

  .menu {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
    background-color: #7d82b8;
    opacity: 0.95;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 48px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

  }
  
  .menu li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
    
  }
  
  .menu.active {
    transform: translateX(0);
  }

  .menu .logo.active{
    color: #fff;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/*===============================INÍCIO=======================================*/
#inicio {
  width: 100%;
  max-width: 100vw;
  height: 80vh;
  padding-top: 12vh;
  background-color: var(--cor2);
  margin: 0;

  /*flex*/
  display: flex;
  justify-content: space-between;
}
.slogan {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1.2rem;
}
.textinicio {
  width: 50%;
  padding-left: 3rem;
}
.textinicio p {
  color: var(--cor1);
  font-size: 0.75rem;
}
.textinicio p:nth-child(3) {
  color: black;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.agendar {
  color: #fff;
  background-color: #4c26d4;
  border-radius: 40px;
}
.wagende {
  border-radius: 40px;
  background-color: #4c26d4;
  cursor: pointer;
  text-decoration: none;
}
.wagende p {
  margin-top: 40px;
  max-width: 291px;
  width: 30%;
  color: #fff;
  background-color: #4c26d4;
  border-radius: 40px;
  padding: 10px;
}
.wagende p:before {
  content: "";
  display: block;
  background: url("images/icons8-whatsapp-24.png") no-repeat;
  width: 24px;
  height: 24px;
  float: left;
  padding: 16px;
  margin: -3px 6px 0px 4px;
}

.imginicio {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 600px;
  float: right;
  margin-right: 100px;
}
/*================================SERVIÇOS====================================*/
#servicos {
  width: 100%;
  max-width: 100vw;
  background-color: var(--cor3);
  margin: 0;
  /*flex*/
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#servicos h1 {
  padding-top: 2rem;
  text-transform: uppercase;
}
#servicos h1,
h3 {
  font-weight: bold;
}
.parte1 {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}
.parte1 div {
  padding: 2rem;
}
.parte2 {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}
.parte2 div {
  padding: 2rem;
}
/*==============================ESP FÍSICO====================================*/
#estrutura {
  height: 700px;
  width: 100vw;
  background-color: var(--cor2);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#espaco h1 {
  text-align: center;
  padding: 1rem;
}
#fisico {
  width: 80%;
  height: 60%;
  background-position: center;
  background-image: url(assets/estrutura/est1.jpg);
  background-size: cover;
}
/*==============================DEPOIMENTOS===================================*/
#depoimentos {
  height: 300px;
  /*height: 80vh;*/
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

#depoimentos h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  max-height: 130px;
  text-align: center;
  padding: 1rem;
}

#externa {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#primeiro,
#segundo {
  width: 40%;
  padding: 2rem;
}

#externa h3::before {
  content: "";
  display: block;
  background: url("images/icons8-male-user-48.png") no-repeat;
  width: 48px;
  height: 48px;
  float: left;
  margin: -3px 6px 0px 4px;
}
/*==============================SOBRE=========================================*/

/*==============================CONTATO=======================================*/
#contato {
  display: flex;
  flex-direction: column;
}

#contato a {
  text-align: center;
  margin-top: 2%;
  text-transform: uppercase;
  color: #7d82b8;
}
.contato-container {
  display: flex;
  font-style: normal;
  justify-content: space-evenly;
  margin-top: 3%;
  font-size: 20px;
}

.btn-ctt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  border: 0.65px solid rgba(73, 80, 87, 0.3);
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #7d82b8;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
}

.btn-ctt p1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.ctt-form {
  display: flex;
  align-items: center;
  background-color: rgba(254, 249, 255, 1);
  padding: 10px;
}
.ctt2 label {
  color: #7d82b8;
}
.justfi {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.sub {
  font-size: 10px;
  color: #7d82b8;
}
#primeiro-nome {
  box-sizing: border-box;
  background: #d8e4ff;
  border: 0.65px solid rgba(73, 80, 87, 0.3);
  border-radius: 2.5px;
}
#sobrenome {
  box-sizing: border-box;
  background: #d8e4ff;
  border: 0.65px solid rgba(73, 80, 87, 0.3);
  border-radius: 2.5px;
}
#email {
  box-sizing: border-box;
  background: #d8e4ff;
  border: 0.65px solid rgba(73, 80, 87, 0.3);
  border-radius: 2.5px;
}
#botao {
  padding: 10px 14px;
  color: #ffffff;
  background-color: #7d82b8;
  border: 0.65px solid rgba(73, 80, 87, 0.3);
  box-sizing: border-box;
}


/*==============================FOOTER========================================*/
#footer {
  align-items: center;
  display: flex;
  font-style: normal;
  justify-content: space-evenly;
  margin-top: 3%;
  font-size: 20px;
  background-color: #7d82b8;
  color: #f5f5f5;
}
/*==============================RESPONSIVIDADE====================================*/
